<footer>
  <div class="footer-logo-container">
    <img src="/assets/FooterLogo.svg" alt="Better Together Church Network Footer Badge">
  </div>
  <p>2023 © Better Together Church Network</p>
</footer>