<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <title>Better Together</title>
</head>
<body>
  <div class="page-header">
    <div class="page-header-image"></div>
  </div>

  <section class="content-container">
    <div id="corner-accent"></div>
    <div id="primary-content-container">
      <h1>We are here to support you & make a collective difference</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatibus labore distinctio! Rerum, harum? Tenetur repudiandae praesentium asperiores distinctio numquam molestiae ipsam eaque! Hic, harum!</p>
    </div>
    <div id="card-container">
      <div class="card">
        <h1>School Connect</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi assumenda nam ducimus quae distinctio vitae voluptatem corrupti, vero reprehenderit et.</p>
        <button>Learn More</button>
      </div>
      <div class="card">
        <h1>School Connect</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi assumenda nam ducimus quae distinctio vitae voluptatem corrupti, vero reprehenderit et.</p>
        <button>Learn More</button>
      </div>
    </div>
  </section>

  
  <%- include('../partials/footer'); %>
</body>
</html>